body{
font-family:Arial;
margin:0;
background:#f6f6f6;
}

.navbar{
display:flex;
justify-content:space-between;
padding:20px;
background:white;
}

.hero{
text-align:center;
padding:80px;
background:black;
color:white;
}

.filter-bar{
display:flex;
gap:10px;
padding:20px;
}

.products-container{
max-width:1200px;
margin:auto;
padding:40px;
}

.product-grid{
display:grid;
grid-template-columns:repeat(auto-fill,minmax(250px,1fr));
gap:20px;
}

.product-card{
background:white;
padding:15px;
border-radius:10px;
box-shadow:0 2px 10px rgba(0,0,0,0.1);
text-align:center;
cursor:pointer;
}

.product-card img{
width:100%;
height:220px;
object-fit:cover;
border-radius:6px;
}

.product-card h4{
margin:10px 0;
}

.product-page{
display:flex;
gap:40px;
max-width:1000px;
margin:60px auto;
}

.product-page img{
width:420px;
border-radius:10px;
}

.product-details{
max-width:400px;
}

.order-btn{
background:#25D366;
border:none;
padding:12px 20px;
color:white;
border-radius:6px;
cursor:pointer;
margin-top:10px;
}

.floating-whatsapp{
position:fixed;
bottom:20px;
right:20px;
background:#25D366;
color:white;
border:none;
padding:15px 20px;
border-radius:40px;
cursor:pointer;
}

.footer{
text-align:center;
padding:30px;
background:black;
color:white;
}